<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Aula 01 - Exercício</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Previsões</h1>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Dia da Semana</th>
						<th>Temperatura Mínima</th>
						<th>Temperatura Máxima</th>
						<th>Umidade Relativa do Ar</th>
						<th>Descrição</th>
					</tr>
				</thead>				
				<tbody>
					<tr th:each="previsao : ${previsoes}">
						<td th:text="${previsao.nomeDia}"></td>
						<td th:text="${previsao.temperaturaMinima}"></td>
						<td th:text="${previsao.temperaturaMaxima}"></td>
						<td th:text="${previsao.umidadeRelativaDoAr}"></td>
						<td th:text="${previsao.descricao}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>